.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   // background: linear-gradient(#ad3de18f, #e6c3649a);
    background-image:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-movies-1614634680.jpg);
  }

  