
<div class="nav">
    <button class= "button" mat-button (click)="goToMovies()">Movies</button>
    <button class= "button" mat-button (click)="goToAccount()">Account</button>
    <button class= "button" mat-button (click)="goToLogIn()">Log out</button>
</div>

<div class="dashboard">
<!--
  <ul>
    <li *ngFor="let movie of movies" >
      -- id: {{movie.id}}
      -- title: {{movie.title}}
      -- director: {{movie.director}}
      -- year:{{movie.year}}
      -- duration:{{movie.duration}}
      -- rating:{{movie.rating}}
      -- user id: {{movie.user_id}}
    </li>
  </ul> 
-->
<button class="button" mat-flat-button color="accent" (click)="openModal()">Add Movie </button>
<button class="button" mat-flat-button color="accent" (click)="sortByRating()">Sort by rating </button>
<button class="button" mat-flat-button color="accent" (click)="search()">Search </button>

<input matInput  [(ngModel)]="searchValue">

<table *ngIf="movies.length>0">
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Rating</th>
    </tr>
    <tr *ngFor="let movie of movies">
        <td >{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.duration}}</td>
        <td>{{movie.rating}}</td>
    </tr>

  </table>
  
</div>
