






<div class="dashboard">
  <button class="button" mat-button (click)="openModal()">Add Movie </button>
  <button class= "button" mat-button (click)="goToMovies()">Movies</button>
  <button class= "button" mat-button (click)="goToLogIn()">Log out</button>


<br>

<mat-form-field class= "field" color="accent" appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Search title" [(ngModel)]="searchValue">
</mat-form-field>
<button class="button" mat-stroked-button color="accent" (click)="search()">Search</button>

<mat-form-field class="field" color="accent" appearance="outline">
  <mat-label>Sort by</mat-label>
  <mat-select (change)="sort()" [(value)]="selected">
    <mat-option value="title">Title</mat-option>
    <mat-option value="director">Director</mat-option>
    <mat-option value="year">Year</mat-option>
    <mat-option value="duration">Duration</mat-option>
    <mat-option value="rating">Rating</mat-option>

  </mat-select>
</mat-form-field>
<button class="button" mat-stroked-button color="accent" (click)="sort()">Sort</button>

<table *ngIf="movies.length>0">
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Rating</th>
    </tr>
    <tr *ngFor="let movie of movies">
        <td >{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.duration}}</td>
        <td>{{movie.rating}}</td>
        <td><button class="button"  mat-raised-button color="accent" (click)="deleteMovie(movies.indexOf(movie))">Delete</button></td>
    </tr>

  </table>
  
</div>