/* AppComponent's private CSS styles */
.nav{
  border-radius: 10px;

}

.button {
  //background-color: rgb(192, 121, 235);
  //border-radius: 10px;
  margin: 10 px;
  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  }

  .dashboard{
  background-color: #fff;
  width: 35vw;
  padding: 4rem 2rem;
  border-radius: 10px;
  //margin-top: -10rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);}