<div id="register-page">
    <div class="header">
      <h1>REGISTER</h1>
    </div>
  
    <form [formGroup]="registerForm" (ngSubmit)="register()">
     
      <mat-form-field color="accent" appearance="outline">
        <mat-label>First name</mat-label>
        <input
        matInput
        formControlName="fname"
        placeholder="Enter first name"
        required
        name="fname"
        autocomplete="on"
      />
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Last name</mat-label>
        <input
        matInput
        formControlName="lname"
        placeholder="Enter last name"
        required
        name="lname"
        autocomplete="on"
      />
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Email</mat-label>
        <input
        matInput
        formControlName="email"
        placeholder="Enter email"
        required
        name="email"
        autocomplete="on"
      />
      </mat-form-field>
  
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Password</mat-label>
        <input
        matInput
        formControlName="password"
        placeholder="Enter password"
        required
        name="password"
        type="password"
        autocomplete="on"
      />
      <mat-error  *ngIf="password?.hasError('invalid-password')"> The password has to be at least 8 characters long and contain a number, a lowercase, uppercase and special symbol.</mat-error>
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input
        matInput
        formControlName="cpassword"
        placeholder="Confirm password"
        required
        name="cpassword"
        autocomplete="on"
        type="password"
      />
      </mat-form-field>
  
      <a [routerLink]="'/auth/login'">Already have an account? Login!</a>
      <button mat-raised-button color="accent" type="submit">REGISTER</button>
    </form> 
  </div>